# Ignorar todo por defecto
obsoleto
training/logs/*
training/resultados/*
__pycache__/
**/__pycache__/
.venv
app/consumer/logs/*
app/producer/logs/*
.env
/app/consumer/utils/transacciones_no_procesadas.csv
# Permitir los directorios importantes !0/
