<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Estado del Sistema</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
 
</head>
<body>

    <div class="container mt-5">
        <div class="card shadow-sm">
            <div class="card-header">
                <h1 class="mb-0">Estado del sistema de detección de fraude</h1>
            </div>
            <div class="card-body">
                <h3 class="card-title mb-4">Servicios</h3>
                <ul class="list-group mb-4">
                    <li class="list-group-item d-flex justify-content-between align-items-center">
                        FastAPI
                        <span class="badge bg-secondary rounded-pill">{{fastapi_status}}</span>
                    </li>
                    <li class="list-group-item d-flex justify-content-between align-items-center">
                        Kafka
                        <span class="badge bg-secondary rounded-pill">{{ kafka_status }}</span>
                    </li>
                    <li class="list-group-item d-flex justify-content-between align-items-center">
                        PostgreSQL
                        <span class="badge bg-secondary rounded-pill">{{ db_status }}</span>
                    </li>
                    <li class="list-group-item d-flex justify-content-between align-items-center">
                        MLflow
                        <div>
                            <span class="badge bg-secondary rounded-pill">{{ mLflow_status }}</span>
                            <a href="http://localhost:8080" target="_blank" class="btn btn-outline-primary btn-sm">Abrir</a>
                        </div>
                    </li>
                    <li class="list-group-item d-flex justify-content-between align-items-center">
                        Grafana (admin/admin)
                        <div>
                            <span class="badge bg-secondary rounded-pill">{{ grafana_status }}</span>
                            <a href="http://localhost:3000/goto/ZgV67rPNg?orgId=1" target="_blank" class="btn btn-outline-primary btn-sm">Abrir</a>
                        </div>
                    </li>
                </ul>

                <h3 class="card-title mb-4">Acciones</h3>
                <ul class="list-group">
                    <li class="list-group-item">
                        <div class="d-flex justify-content-between align-items-center">
                            Iniciar aplicacion
                            <div>
                                <a href="#" id="execute-consumer-btn" class="btn btn-primary btn-sm">Iniciar</a>
                                <a href="#" id="stop-consumer-btn" class="btn btn-primary btn-sm disabled">Finalizar</a>
                            </div>
                        </div>
                        <div id="consumer-terminal" class="mt-3 d-none" style="max-height: 300px; overflow-y: auto;">
                            <div class="card terminal-card">
                                <div class="card-body">
                                    <pre><code id="consumer-log-output"></code></pre>
                                </div>
                            </div>
                        </div>
                        <button id="clear-consumer-logs-btn" class="btn btn-outline-secondary btn-sm d-none" style="margin: 5px;">🧹 Limpiar logs</button>
                    </li>

                    <li class="list-group-item">
                        <div class="d-flex justify-content-between align-items-center">
                            Generar transacciones
                            <div>
                                <input type="number" id="cantidad-input" min="1" value="10" placeholder="Cantidad de transacciones" style="width: 120px; padding: 5px; border-radius: 6px; border: 1px solid #ccc; font-size: 14px;">
                                <a id="execute-producer-btn" onclick="enviarTransacciones()" class="btn btn-primary btn-sm">
                                    Generar</a>
                            </div>
                        </div>
                        <div id="producer-terminal" class="mt-3 d-none" style="max-height: 300px; overflow-y: auto;">
                            <div class="card terminal-card ">
                                <div class="card-body">
                                    <pre><code id="producer-log-output"></code></pre>
                                </div>
                            </div>
                        </div>
                        <button id="clear-producer-logs-btn" class="btn btn-outline-secondary btn-sm d-none" style="margin: 5px;">🧹 Limpiar logs</button>

                    </li>
                </ul>
            </div>
        </div>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>

    <script>
        // Obtenemos referencias para la acción del CONSUMER
        const consumerBtn = document.getElementById('execute-consumer-btn');
        const consumerBtnStop = document.getElementById('stop-consumer-btn');
        const consumerTerminal = document.getElementById('consumer-terminal');
        const consumerLogOutput = document.getElementById('consumer-log-output');
        const clearConsumerLogs = document.getElementById("clear-consumer-logs-btn");

        // Obtenemos referencias para la acción del PRODUCER
        const producerBtn = document.getElementById('execute-producer-btn');
        const producerTerminal = document.getElementById('producer-terminal');
        const producerLogOutput = document.getElementById('producer-log-output');
        const clearProducerLogs = document.getElementById("clear-producer-logs-btn");

        async function fetchLogs(port, logOutput, terminal) {
            try {
                const response = await fetch(`http://localhost:${port}/logs`);
                const text = await response.text();
                logOutput.textContent = text;

                // Scroll al final
                terminal.scrollTop = terminal.scrollHeight;
            } catch (err) {
                logOutput.textContent = "Error cargando logs: " + err.message;
            }
        }

        // PRODUCER
        async function enviarTransacciones() {
            producerTerminal.classList.remove('d-none');
            clearProducerLogs.classList.remove('d-none');
            producerLogOutput.textContent = 'Ejecutando... por favor, espera.';

            const cantidad = document.getElementById("cantidad-input").value;

            const endpoint = `http://localhost:8081/generar/${cantidad}`;
            const response = await fetch(endpoint, { method: 'POST' });

            if (!response.ok) {
                throw new Error(`Error del servidor: ${response.status} ${response.statusText}`);
            }

            fetchLogs('8081', producerLogOutput, producerTerminal);
            setInterval(() => fetchLogs('8081', producerLogOutput, producerTerminal), 3000);

            const data = await response.json();
            document.getElementById("respuesta-transacciones").textContent = data.message;
        }


        // CONSUMER
        // Función reutilizable para ejecutar una acción y mostrar el log en SU terminal específica
        async function executeAndShowLog(endpoint, port, method, buttonEl, terminalEl, outputEl) {
            terminalEl.classList.remove('d-none');
            clearConsumerLogs.classList.remove('d-none');
            outputEl.textContent = 'Ejecutando... por favor, espera.';
            buttonEl.classList.add('disabled');

            try {
                const response = await fetch(endpoint, { method: method });

                if (!response.ok) {
                    throw new Error(`Error del servidor: ${response.status} ${response.statusText}`);
                    consumerBtn.classList.remove('disabled');
                }

                fetchLogs(port, outputEl, terminalEl);
                setInterval(() => fetchLogs(port, outputEl, terminalEl), 3000);

            } catch (error) {
                outputEl.textContent = `Error al ejecutar la acción:\n${error.message}`;
                consumerBtn.classList.remove('disabled');
            } 
        }
        consumerBtn.addEventListener('click', (event) => {
            event.preventDefault();
            consumerBtnStop.classList.remove('disabled');
            executeAndShowLog('http://localhost:8082/start', '8082', 'GET',consumerBtn, consumerTerminal, consumerLogOutput);
        });
        consumerBtnStop.addEventListener('click', (event) => {
            event.preventDefault();
            consumerBtnStop.classList.add('disabled');
            consumerBtn.classList.remove('disabled');
            executeAndShowLog('http://localhost:8082/stop', '8082', 'GET',consumerBtnStop, consumerTerminal, consumerLogOutput);
        });


        // Limpiar logs
        clearConsumerLogs.addEventListener("click", async () => {
            try {
                const response = await fetch("http://localhost:8082/limpiar_logs", { method: 'POST' });
                consumerLogOutput.textContent = ""
                fetchLogs(port, consumerLogOutput, consumerTerminal);
            } catch (error) {
                consumerLogOutput.textContent = "Error al limpiar logs: " + error.message;
            }
        });
        clearProducerLogs.addEventListener("click", async () => {
            try {
                const response = await fetch("http://localhost:8081/limpiar_logs", { method: 'POST' });
                producerLogOutput.textContent = ""
                fetchLogs(port, producerLogOutput, producerTerminal);
            } catch (error) {
                producerLogOutput.textContent = "Error al limpiar logs: " + error.message;
            }
        });

    </script>
</body>
</html>